<div class="container">
	<h2 class="text-center servicesHeader">Steamy Seamstress will Bust yo shizz!</h2>
	<p class="lead grayFade">When you won't put up with any short shrift on apparel.  Cut it down to size, make it smaller or bigger, you know how we do!  All night.  Lovin' not Hatin'.</p>
	<hr class="half-rule"></hr>
	<div class="row">
		<div class="col-sm-4 serviceSpacer serviceBounce" ng-repeat="service in allServices">
			<div class="text-center">
				<i class="fa fa-2x {{service.icon}}"></i>
			</div>
			<h3 class="text-center">{{service.title}}</h3>
			<p class="text-center grayFade">{{service.description}}</p>
		</div>
	</div>

    <div class='row'>
        <h2>New Product here:</h2>
        <label for='titleInput'>Service Title:</label>
        <input ng-model='title' type='text' id='titleInput' placeholder='what is the new service?...'>
        <label for='descrInput'>Service Description:</label>
        <input ng-model='description' type='text' id='descrInput' placeholder='type description...'>
        <label for='iconInput'>Service Icon CSS class:</label>
        <input ng-model='icon' type='text' id='iconInput' placeholder='(from font-awesome cheat sheet)...'>
        <label for='activeInput'>Active?:</label>
        <input ng-model='active' type='text' id='activeInput' placeholder=' (type "true" or "false")...'>
    </div>

    <form ng-submit="addService($event)">
        Press Enter to create a new Service in the database:
        <input type="submit" id="submit" value="Submit" />
    </form>
</div>