<div class="container adminHolder">
    <div class='row newService' ng-show="newServiceReady" ng-hide="!newServiceReady">
        <i class="fa fa-close fa-2x pull-right" ng-click="newServiceReady = false"></i>
        <h2>New Service here:</h2>
        <label for='titleInput'>Service Title:</label>
        <input ng-model='title' type='text' id='titleInput' placeholder='what is the new service?...'>
        <label for='descrInput'>Service Description:</label>
        <input ng-model='description' type='text' id='descrInput' placeholder='type description...'>
        <label for='iconInput'>Service Icon CSS class:</label>
        <input ng-model='icon' type='text' id='iconInput' placeholder='(from font-awesome cheat sheet)...'>
        <label for='activeInput'>Active?:</label>
        <input ng-model='active' type='text' id='activeInput' placeholder=' (type "true" or "false")...'>
        <form ng-submit="addService($event); newServiceReady = false;">
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
    <!--<div class='row newService' ng-show="newProductReady" ng-hide="!newProductReady">
        <i class="fa fa-close fa-2x pull-right" ng-click="newProductReady = false"></i>
        <h2>New Product here:</h2>
        <label for='titleInput2'>Product Title:</label>
        <input ng-model='productTitle' type='text' id='titleInput2' placeholder='product name'>
        <label for='descrInput2'>Product Description:</label>
        <input ng-model='productDescription' type='text' id='descrInput2' placeholder='type description...'>
        <label for='priceInput2'>Price:</label>
        <input ng-model='productPrice' type='text' id='priceInput2' placeholder='price'>
        <label for='quantityInput2'>Quantity:</label>
        <input ng-model='productQuantity' type='text' id='quantityInput2' placeholder='how many do you have?'>
        <label for='activeInput2'>Active?:</label>
        <input ng-model='productActive' type='text' id='activeInput2' placeholder=' (type "true" or "false")...'>
        <form ng-submit="addProduct($event); newProductReady = false;">
            <input type="submit" id="submit2" value="Submit" />
        </form>
    </div>-->
    <div class='row newPortfolio' ng-show="newPortfolioReady" ng-hide="!newPortfolioReady">
        <i class="fa fa-close fa-2x pull-right" ng-click="newPortfolioReady = false"></i>
        <h2>New Portfolio here:</h2>
        <label for='titleInput'>Portfolio Title:</label>
        <input ng-model='portfolioName' type='text' id='titleInput' placeholder='what is the name of the new Portfolio?...'>
        <label for='descrInput'>Portfolio Description:</label>
        <input ng-model='portfolioDescription' type='text' id='descrInput' placeholder='type description...'>
        <label for='activeInput'>Active?:</label>
        <input ng-model='portfolioActive' type='text' id='activeInput' placeholder=' (type "true" or "false")...'>
        <label for='titleInput'>Portfolio Image Link:</label>
        <input ng-model='portfolioImage' type='text' id='titleInput' placeholder='put link to portfolio image here...'>
        <form ng-submit="addPortfolio($event); newPortfolioReady = false;">
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
    <div class='row newPortfolio' ng-show="newPromotionReady" ng-hide="!newPromotionReady">
        <i class="fa fa-close fa-2x pull-right" ng-click="newPromotionReady = false"></i>
        <h2>New Promotion here:</h2>
        <label for='titleInput'>Promotion Text:</label>
        <input ng-model='promotionDescription' type='text' id='titleInput' placeholder='This is the text that will appear in the alert...'>
        <label for='descrInput'>Promotion Type:</label>
        <input ng-model='promotionType' type='text' id='descrInput' placeholder='Type 4 choices for color of the message "success" for green, "info" for blue, "warning" for yellow, and "danger" for red...'>
        <label for='activeInput'>Active?:</label>
        <input ng-model='promotionActive' type='text' id='activeInput' placeholder=' (type "true" or "false" - this determines if the alert appears or is hidden)...'>
        <label for='titleInput'>Promotion Created On Date:</label>
        <input ng-model='promotionCreatedOn' type='text' id='titleInput' placeholder='write the created on Date...'>
        <form ng-submit="addPromotion($event); newPromotionReady = false;">
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
  <div ng-hide="newServiceReady == true;">
    <h1>Services</h1>
    <table class="table">
        <tr>
            <th>Service</th>
            <th>Description</th>
            <th>Icon</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="service in allServices">
            <td>
                <span ng-hide="editMode">{{ service.title }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="service.title">
            </td>
            <td>
                <span ng-hide="editMode">{{ service.description }}</span>
                <textarea class="serviceDescription" data-ng-show="editMode" type="text" data-ng-model="service.description"></textarea>
            </td>
            <td>
                <span ng-hide="editMode">{{ service.icon }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="service.icon">
            </td>
            <td>
                <span ng-hide="editMode">{{ service.active }}</span>
                <select data-ng-show="editMode" type="text" data-ng-model="service.active">
                    <option>true</option>
                    <option>false</option>
                </select>
            </td>
            <td>
                <i class="fa fa-edit" ng-click="editMode = true;" ng-show="!editMode"></i>
                <i class="fa fa-check" ng-click="editMode = false; allServices.$save(service)" ng-show="editMode"></i>
                <i class="fa fa-trash" ng-click="allServices.$remove(service)" ng-show="!editMode"></i>
                <i class="fa fa-close" ng-show="editMode" ng-click="editMode = false;"></i>
            </td>
        </tr>
    </table>
    <button ng-click="newServiceReady = true">Add new</button>
  </div>
  <hr>
  <!--<div ng-hide="newProductReady == true;">
    <h1>Products</h1>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="product in allProducts">
            <td>
                <span ng-hide="editMode">{{ product.title }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="product.title">
            </td>
            <td>
                <span ng-hide="editMode">{{ product.description }}</span>
                <textarea class="serviceDescription" data-ng-show="editMode" type="text" data-ng-model="product.description"></textarea>
            </td>
            <td>
                <span ng-hide="editMode">{{ product.price }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="product.price">
            </td>
            <td>
                <span ng-hide="editMode">{{ product.quantity }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="product.quantity">
            </td>
            <td>
                <span ng-hide="editMode">{{ product.active }}</span>
                <select data-ng-show="editMode" type="text" data-ng-model="product.active">
                    <option>true</option>
                    <option>false</option>
                </select>
            </td>
            <td>
                <i class="fa fa-edit" ng-click="editMode = true;" ng-show="!editMode"></i>
                <i class="fa fa-check" ng-click="editMode = false; allProducts.$save(product)" ng-show="editMode"></i>
                <i class="fa fa-trash" ng-click="allProducts.$remove(product)" ng-show="!editMode"></i>
                <i class="fa fa-close" ng-show="editMode" ng-click="editMode = false;"></i>
            </td>
        </tr>
    </table>
    <button ng-click="newProductReady = true">Add new</button>
  </div>
  <hr>-->
  <div ng-hide="newPortfolioReady == true;">
    <h1>Portfolio</h1>
    <table class="table">
        <tr>
            <th>Portfolio</th>
            <th>Description</th>
            <th>Image Url</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="portfolio in allPortfolios">
            <td>
                <span ng-hide="editMode">{{ portfolio.projectName }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="portfolio.projectName">
            </td>
            <td>
                <span ng-hide="editMode">{{ portfolio.projectDescription }}</span>
                <textarea class="serviceDescription" data-ng-show="editMode" type="text" data-ng-model="portfolio.projectDescription"></textarea>
            </td>
            <td>
                <span ng-hide="editMode">{{ portfolio.projectImages.url1 }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="portfolio.projectImages.url1">
            </td>
            <td>
                <span ng-hide="editMode">{{ portfolio.active }}</span>
                <select data-ng-show="editMode" type="text" data-ng-model="portfolio.active">
                    <option>true</option>
                    <option>false</option>
                </select>
            </td>
            <td>
                <i class="fa fa-edit" ng-click="editMode = true;" ng-show="!editMode"></i>
                <i class="fa fa-check" ng-click="editMode = false; allPortfolios.$save(portfolio)" ng-show="editMode"></i>
                <i class="fa fa-trash" ng-click="allPortfolios.$remove(portfolio)" ng-show="!editMode"></i>
                <i class="fa fa-close" ng-show="editMode" ng-click="editMode = false;"></i>
            </td>
        </tr>
    </table>
    <button ng-click="newPortfolioReady = true">Add new</button>
  </div>
  <div ng-hide="newPromotionReady == true;">
    <h1>Promotion/Message</h1>
    <table class="table">
        <tr>
            <th>Text</th>
            <th>Created On</th>
            <th>Type</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="promo in Promotions">
            <td>
                <span ng-hide="editMode">{{ promo.description }}</span>
                <textarea class="serviceDescription" data-ng-show="editMode" type="text" data-ng-model="promo.description"></textarea>
            </td>
            <td>
                <span ng-hide="editMode">{{ promo.createdOn }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="promo.createdOn">
            </td>
            <td>
                <span ng-hide="editMode">{{ promo.type }}</span>
                <input data-ng-show="editMode" type="text" data-ng-model="promo.type">
            </td>
            <td>
                <span ng-hide="editMode">{{ promo.active }}</span>
                <select data-ng-show="editMode" type="text" data-ng-model="promo.active">
                    <option>true</option>
                    <option>false</option>
                </select>
            </td>
            <td>
                <i class="fa fa-edit" ng-click="editMode = true;" ng-show="!editMode"></i>
                <i class="fa fa-check" ng-click="editMode = false; Promotions.$save(promo)" ng-show="editMode"></i>
                <i class="fa fa-trash" ng-click="Promotions.$remove(promo)" ng-show="!editMode"></i>
                <i class="fa fa-close" ng-show="editMode" ng-click="editMode = false;"></i>
            </td>
        </tr>
    </table>
    <button ng-click="newPromotionReady = true">Add new</button>
  </div>
</div>
