
<div class="container-fluid steamyHeader">
	<div class="servicesContainer">
		<h2 class="text-center servicesHeader">Steamy Seamstress</h2>
	</div>
	<p class="text-center lead steamyLead">When you won't put up with any short shrift on apparel.  Cut it down to size, make it smaller or bigger, you know how we do!  All night.  Lovin' not Hatin'.</p>
	<div id="backgroundLayer"></div>
	<div id="middleLayer">
		<!--<img id="leftGear" src="./images/gear.svg"/>
		<img id="rightGear" src="./images/gear.svg"/>-->
	</div>
	<div id="frontLayer">
	</div>
</div>
<div class="container-fluid servicesRow">
	<div class="row" id="services">
		<div class="serviceHeaderContainer">
			<h2 class="text-center"><a>Services</a></h2>
			<p class="text-center lead steamyServiceLead">I provide a specific set of services and would love to work with you on something useful!</p>
		</div>
		<div class="col-sm-4 serviceSpacer" ng-repeat="service in allServices">
			<!--<div class="text-center">
				<i class="fa fa-2x {{service.icon}}"></i>
			</div>
			<h3 class="text-center">{{service.title}}</h3>
			<p class="text-center grayFade">{{service.description}}</p>-->
			<div class="card">
				<div class="upperHalf">
					<div>{{service.description}}</div>
				</div>
				<div class="circleContainer">
					<i class="fa fa-2x {{service.icon}}"></i>
				</div>
				<div class="lowerHalf">
					<div>{{service.title}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid steamyPortfolio">
	<div class="row" id="portfolio">
		<div class="serviceHeaderContainer">
			<h2 class="text-center"><a>Portfolio</a></h2>
			<p class="text-center lead steamyServiceLead">Check out a sample of some of the things that I've been working on.</p>
		</div>
		<div class="col-sm-4 serviceSpacer" ng-repeat="folio in allPortfolio">
			<div class="cardFolio">
				<div class="cardImage">
					<div class="folioImages" ng-repeat="(key, value) in folio.projectImages">
						<img src="{{value}}"/>
					</div>
				</div>
				<div class="folioTitle">{{folio.projectName}}</div>
				<div class="cardContent">
					<div class="folioDescription">
						<p>{{folio.projectDescription}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid steamyContact">
	<div class="row"  id="contactMe">
		<div class="contactHeader">
			<h2 class="text-center"><a>Contact Me</a></h2>
			<p class="text-center lead steamyServiceLead">Questions or feedback?  Send me a message!</p>
		</div>
		<div class="col-md-3 col-md-offset-1 picContainer">
			<div class="cardFolio">
				<div class="cardImage">
					<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" width=140 height=140 class="img-circle">
				</div>
				<div class="cardContent">
					<div class="folioDescription">
						<p>Here is where some text is going to go. I'm going to say a little bit about myself and you people are going to read it, kapeesh? You'll damn well read it and you'll bloody well like it.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 contactFormContainer">
	      <div class="panel panel-default">
	          <div class="panel-body">
	              <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
	                  <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
	                      <label for="inputName" class="col-lg-2 control-label">Name</label>
	                      <div class="col-lg-10">
	                          <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
	                      </div>
	                  </div>
	                  <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
	                      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	                      <div class="col-lg-10">
	                          <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
	                      </div>
	                  </div>
	                  <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
	                      <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
	                      <div class="col-lg-10">
	                          <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
	                      </div>
	                  </div>
	                  <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
	                      <label for="inputMessage" class="col-lg-2 control-label">Message</label>
	                      <div class="col-lg-10">
	                          <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
	                      </div>
	                  </div>
	                  <div class="form-group">
	                      <div class="col-lg-offset-2 col-lg-10">
	                          <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
	                              Send Message
	                          </button>
	                      </div>
	                  </div>
	              </form>
	              <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
	          </div>
	      </div>
			</div>
		</div>
</div>
