/* app css stylesheet */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.serviceSpacer {
	padding:20px;
	min-height:200px;
	transition: all .4s ease-in-out;
}
.serviceSpacer:hover {
	color:#1DB61D;
	transform: scale(1.1);
}
.servicesHeader {
	font-weight:400;
}
.grayFade {
	color:#555;
}
.half-rule {
	width:100px;
	margin:40px auto;
}
.serviceBounce.ng-enter {
    -webkit-animation: bounceIn .8s;
    -moz-animation: bounceIn .8s;
    -ms-animation: bounceIn .8s;
    animation: bounceIn .8s;
}
.serviceBounce.ng-enter.ng-enter.active {
    -webkit-animation: bounceIn .8s;
    -moz-animation: bounceIn .8s;
    -ms-animation: bounceIn .8s;
    animation: bounceIn .8s;
}
.serviceBounce.ng-leave {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}
.serviceBounce.ng-leave.ng-leave-active {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}
.adminHolder {
    position:relative;
}
.serviceDescription{
    width:100%;
}
.row.newService {
    background: none repeat scroll 0 0 #fff;
    min-height: 435px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.adminHolder i:hover {
    cursor:pointer;
    color:#1DB61D;
    font-size:17px;
}
.homeLogin{
    position: relative;
    height:50px;
}
.homeLogin div {
  float:left;
  margin-top:8px;
  margin-right:5px;
}
.loginButton{
    background-color:dodgerblue;
    color:#ffffff;
}
/*Products page*/
.utilityHolder {
  position:relative;
}
.searchHolder {
  max-width:270px;
  min-width:270px;
  display:inline-block;
}
.sortAndFilter {
  display: inline-block;
  height: 34px;
  position: absolute;
}
.sortAndFilter i {
  position:absolute;
  margin:10px;
}
.productCardHolder{
  display:flex;
  flex-flow:row wrap;
}
.productPanel{
  display: inline-block;
  flex-grow: 1;
  margin-right: 15px;
  margin-top: 20px;
  min-width: 270px;
}
.prodDollar {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 8px;
  margin-right:10px;
}
.prodCost{
  position:relative;
  margin-bottom:20px;
}
.productCenterHolder {
  position:relative;
  height:200px;
  padding:0px;
}
.leftArrow{
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
  transition:all 0.1s ease;
  -webkit-transition:all 0.1s ease;
}
.leftArrow:hover {
  color:#1DB61D;
  font-size:16px;
  cursor:pointer;
  top:-2px;
}
.productLeftIcon {
  left: 10px;
  position: absolute;
  top: 70px;
}
.productRightIcon {
  left: 10px;
  position: absolute;
  top: 70px;
}
.rightArrow{
  display: inline-block;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 35px;
  transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
}
.rightArrow:hover{
  color:#1DB61D;
  font-size:16px;
  cursor:pointer;
  top:-2px;
}
.productCenter {
  left: 35px;
  position: absolute;
  width: 197px;
}
.productCenter img {
  height:auto;
  max-width:100%;
}
.prodCostFooter{
  position:relative;
  min-height:38px;
}
.prodCartIcon {
  position:absolute;
  right:5px;
  top:3px;
  line-height:1.7;
}
.prodCartItemHave {
  line-height: 1.5;
  margin: 3px 0 0;
  padding: 0 4px;
}
.shoppingIcon {
  position: absolute;
  right: 0;
  top: 7px;
}
.shoppingDetailIcon {
  /*position:absolute;
  left:10px;
  top:7px;*/
  display:block;
}
.cartLink {
    margin-top: -4px !important;
}
.cartItems{
  margin-top:0px!important;
}
