/* app css stylesheet */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.serviceSpacer {
	padding:20px;
	min-height:200px;
	transition: all .4s ease-in-out;
}
.serviceSpacer:hover {
	color:#1DB61D;
	transform: scale(1.1);
}
.servicesHeader {
	font-weight:400;
}
.grayFade {
	color:#555;
}
.half-rule {
	width:100px;
	margin:40px auto;
}
.serviceBounce.ng-enter {  
    -webkit-animation: bounceIn .8s;
    -moz-animation: bounceIn .8s;
    -ms-animation: bounceIn .8s;
    animation: bounceIn .8s;
}
.serviceBounce.ng-enter.ng-enter.active {  
    -webkit-animation: bounceIn .8s;
    -moz-animation: bounceIn .8s;
    -ms-animation: bounceIn .8s;
    animation: bounceIn .8s;
}
.serviceBounce.ng-leave {  
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}
.serviceBounce.ng-leave.ng-leave-active {  
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}
.row.newService {
    background: none repeat scroll 0 0 #fff;
    min-height: 800px;
    position: absolute;
    width: 94%;
    z-index: 10;
}