<div class="container">
  <div class="utilityHolder">
    <div class="searchHolder">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search Products" ng-model="searchProducts">
      </div>
    </div>
    <div class="sortAndFilter">
      <i ng-show="" class="fa fa-sort-amount-asc" alt="Sort by Lowest price"></i>
      <i ng-show="" class="fa fa-sort-amount-desc" alt="Sort by Highest price"></i>
    </div>
  </div>
  <div class="productsHolder">
    <div class="productCardHolder">
      <div class="panel panel-default productPanel" ng-repeat="product in allProducts | filter:searchProducts">
        <div class="panel-heading prodCost">
          <h3 class="panel-title">{{product.title}}</h3>
          <div class="prodDollar"><i class="fa fa-dollar"></i>{{product.price}}</div>
        </div>
        <div class="panel-body productCenterHolder">
          <div class="leftArrow">
            <i class="productLeftIcon fa fa-angle-left fa-2x"></i>
          </div>
          <div class="productCenter" id="{{product.$id}}">
            <div ng-repeat="image in product.images">
              <img ng-src="{{image.url}}"/>
            </div>
          </div>
          <div class="rightArrow">
            <i class="productRightIcon fa fa-angle-right fa-2x"></i>
          </div>
        </div>
        <div class="panel-footer prodCostFooter">
          <div class="btn btn-info btn-xs shoppingDetailIcon">
            <i class="fa fa-eye"></i>
            View Detail
          </div>
            <ngcart-addtocart class="prodCartIcon" id="{{ product.$id }}" name="{{ product.title }}" price="{{ product.price }}" quantity="1" quantity-max="30" data="test"></ngcart-addtocart>
          <div class="prodSizePicker">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
