
@font-face {
  font-family: 'Ornatique';
  src: url('Ornatique.eot?#iefix') format('embedded-opentype'),  url('Ornatique.woff') format('woff'), url('Ornatique.ttf')  format('truetype'), url('Ornatique.svg#Ornatique') format('svg');
  font-weight: normal;
  font-style: normal;
}
