<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Tell me a little about how you want it</h3>
      <form id="detailContainer">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" value="{{orderTitle}}">
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control" value="{{orderPrice}}">
        </div>
        <div class="form-group">
          <label>Size</label>
          <select class="form-control" placeholder="Pick Size" ng-model="orderSize">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
        </div>
        <div class="form-group">
          <label>Color</label>
          <select class="form-control" placeholder="Pick Color" ng-model="orderColor">
            <option>Red</option>
            <option>Brown</option>
            <option>Orange</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <ngcart-addtocart ng-click="saveWholeOrder(orderTitle, orderPrice, orderSize, orderColor)" class="" id="{{ orderTitle}}" name="{{ orderTitle }}" price="{{ orderPrice }}" quantity="1" quantity-max="30" data="orderColor"></ngcart-addtocart>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
